body{
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.container{
    max-width: 80%;
    margin: auto;
}
/*Website Header and navbar*/
.container header nav{
    background: #002244;
    color: #ccc;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
}
.container header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    list-style: none;
}
.container header nav ul li a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}
.container header nav ul li a:hover{
    color: #ffffff;
}

/*Website Main Content*/
#file-input{
    display: none;
}
.custom-btn{
    background-color: #002244;
    color: white;
    padding: 7px 8px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}
.custom-btn img{
    width: 15px;
}
#textInput{
    width: 40%;
    background-color: #eee;
    border: none;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    margin-bottom: 5px;
    font-weight: 600;
}
#preview{
    width: 200px;
    border-radius: 7px;
}
.post-box {
    width: 50%;
    background: #fff;
    padding: 10px;
    margin: 20px auto;
    border-radius: 7px;
}
#postInput {
    width: 97%;
    height: 40px;
    padding: 5px;
    border-radius: 7px;
    outline: none;
}
#addPostBtn{
    margin-top: 10px;
    padding: 8px 15px;
    width: 60px;
    border: none;
    background: #002244;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
}
#addPostBtn:hover, .custom-btn:hover{
    background: #026;
}
.post {
    background: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 7px;
}

    #postsContainer {
    display: grid;
    gap: 25px; /* المسافة بين البوستات */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 0;
}
    
.containerText{
    
}
.imgBox{
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgb(160, 160, 160);
    cursor: pointer;
    max-height: 500px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.4s ease;
}
.containerText .imgBox img:hover{
    transform: scale(1.005);
}
.imgBox p{
    text-decoration: solid;
}
.textBox.hide {
    max-height: 0;
    opacity: 0;
}

