body{
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.container{
    max-width: 80%;
    margin: auto;
}
/*Website Header and navbar*/
.container header nav{
    background: #002244;
    color: #ccc;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
}
.container header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    list-style: none;
}
.container header nav ul li a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}
.container header nav ul li a:hover{
    color: #ffffff;
}

/*Website Main Content*/

.post-box {
    width: 50%;
    background: #fff;
    padding: 10px;
    margin: 20px auto;
    border-radius: 7px;
}
#postInput {
    width: 97%;
    height: 40px;
    padding: 5px;
    border-radius: 7px;
}
#addPostBtn {
    margin-top: 10px;
    padding: 8px 15px;
    width: 60px;
    border: none;
    background: #002244;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
}
.post {
    background: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 7px;
}

.containerMain{
    width: 100%;
}
.containerText{
    width: 400px;
}
.imgBox{
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    width: 400px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgb(160, 160, 160);
    cursor: pointer;
}
.containerMain .imgBox img:hover{
    transform: scale(1.005);
}
.imgBox img{
    width: 400px;
    border-radius: 7px;
    transition: 0.3s;
}
.imgBox p{
    text-decoration: solid;
}
.containerMain .hide{
    display: none;
}

